body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(120deg,#FDE2E4,#E2F0CB);
  min-height: 100vh;
}

/* ทำให้ card มี hover */
div:hover {
  transform: scale(1.02);
}
/* การ์ดลอยแรงขึ้น */
.activityCard:hover {
  transform: scale(1.03) translateY(-10px);
  box-shadow: 0 25px 45px rgba(0,0,0,0.25);
}




